<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="~/Scripts/src/public/favicon.ico">
  <title>@ViewData["Title"] - Notebook</title>
</head>
<body>
  @RenderBody()

  @RenderSection("scripts", required: false)
</body>
</html>
